<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="ConexaoBD"
       connectionString="Data Source=DESKTOP-PQD265D;Initial Catalog=ControleEstoque;Integrated Security=True"
       providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>